@font-face {
    font-family: TWKLausannePan;
    src: url('../fonts/TWKLausannePan-400.otf');
}

html, body {
    margin: 0;
    padding: 32px 0 0 0;
    font-family: TWKLausannePan, sans-serif;
}

.border {
    border: solid 1px black;
}

.layout-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 3.75rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*::selection {
    background: #7717F4;
    color: #fff;
    opacity: 60%;
}

/*Overwrite hover of the reset filter button*/
.reset-button.custom-button:hover {
    background: none !important;
    color: black !important;
    border: none !important;
    font-style: italic !important;
    text-decoration: underline !important;
}

@media (max-width: 640px) {
    html, body {
        margin: 0;
        padding: 0;
        font-family: TWKLausannePan, sans-serif;
    }

    .layout-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1536px) {
    .layout-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}